<!DOCTYPE html>
<html>
  <head>
    <title>Guestbook</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      body { padding: 20px; }
      .guestbook-container { width: 50%; }
      .message-list { margin-top: 20px; }
      .message-item { padding: 5px 0; border-bottom: 1px solid #eee; }
    </style>
  </head>
  <body>
    <div class="guestbook-container">
      <h2>Guestbook</h2>
      <form action="/guestbook" method="POST">
        <fieldset>
          <div class="form-group">
            <input name="message" placeholder="Messages" class="form-control" type="text" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>

      <div class="message-list">
        {% for msg in messages %}
          <div class="message-item">
            {{ msg }}
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
